.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact-call{
    flex-basis: 48%;
    color: #676767;

}
.contact-call h3{
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-call h3 img{
    width: 35px;
    margin-left: 10px;
}
.contact-call p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-call ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-call ul img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact-call span{
    display: block;
    margin: 20px 0;
}
/*media query*/
@media (max-width: 700px){
    .contact{
        display: block;
    }
    .contact-call{
        padding: 20px;
    }
}
